.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: "Roboto", sans-serif;
}

header nav img {
    height: 70px;
}

section .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 244, 198, 1);
    border-width: 1px;
    border-color: rgba(238, 210, 93, 1);
    border-radius: 4px;
    border-style: solid;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    gap: 20px;
}

section .timer .timer-title {
    text-transform: uppercase;
    font-size: 26px;
    font-family: Roboto;
    color: rgba(25, 30, 42, 1);
}

section .timer .timer-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

section .timer .timer-content .timer-item {
    text-align: center;
}

section .timer .timer-content .timer-item .timer-number {
    font-size: 24px;
}

section .product {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    margin-top: 20px;
    gap: 20px;
}

section .product .product-photos {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    width: 50%;
}

section .product .product-photos .main-photo {
    width: 80%;
}

section .product .product-photos .main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    border-radius: 10px;
}

section .product .product-photos .sub-photos {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section .product .product-photos .sub-photos img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.product-info {
    width: 50%;

}

.product-info .special-offer {
    color: rgba(255, 255, 255, 1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    background-color: rgba(255, 193, 7, 1);
    width: fit-content;
}

.product-info .price {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.product-info .price .current-price {
    font-size: 26px;
    font-family: Roboto;
    font-weight: 500;
    color: rgba(25, 106, 240, 1);
}

.product-info .price .old-price {
    text-decoration-line: line-through;
    font-size: 22px;
    font-family: Roboto;
    color: rgba(87, 99, 122, 1);
    font-weight: 400;
}

.product-info .name {
    line-height: 130%;
    font-family: Roboto;
    font-size: 32px;
    color: rgba(25, 30, 42, 1);
    font-weight: 600;
    margin: 20px 0;
}

.product-info .size {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.product-info .quntity {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.product-info .buy-now {
    letter-spacing: 0px;
    line-height: 18px;
    font-family: Roboto;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: rgba(0, 124, 249, 1);
    width: 100%;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.product-info .buy-now:hover {
    background-color: rgba(0, 124, 249, 0.8);
}

.product-info .checkout {
    margin-top: 20px;
}

.product-info .checkout img {
    width: 100%;
}

@media (max-width: 991px) {
    section .product {
        flex-direction: column;
    }

    section .product .product-photos, section .product .product-info {
        width: 100%;
    }

}
@media (max-width: 510px) {
    section .timer {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    section .timer .timer-title {
        font-size: 18px;
    }
    section .timer .timer-content .timer-item{
        gap: 10px;
    }
    section .timer .timer-content .timer-item .timer-number {
        font-size: 18px;
    }
    section .product .product-photos {
        flex-direction: column-reverse;
    }
    section .product .product-photos .main-photo {
        width: 100%;
    }
    section .product .product-photos .sub-photos {
        width: 100%;
        flex-direction: row;
    }
}

section.description {
    line-height: 150%;
    font-family: Roboto;
    color: rgba(87, 99, 122, 1);
    font-size: 16px;
    padding: 20px;
    margin-top: 50px;
}

section.description h2 {
    margin-bottom: 30px;
}

section.services {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(40, 121, 255, 0.06);
}
section.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 30px;
}
section.services .serv {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px 3px 14px 5px rgba(214,224,245,0.3);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    transition: 0.3s;
}
section.services .serv:hover {
    box-shadow: 0px 3px 14px 5px rgba(214,224,245,0.5);
    transform: translate(0, -10px);
}
section.services .serv img {
    width: 32px;
    height: 32px;
    margin-bottom: 30px;
}
section.services .serv h3 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(25, 30, 42, 1);
    margin-bottom: 10px;
}
section.services .serv p {
    text-align: center;
    font-weight: regular;
    line-height: 150%;
    color: rgba(87, 99, 122, 1);
    font-size: 16px;
}
.extm {direction: ltr;}